.edge{
    stroke: gray;
    stroke-width: 3;
}

.link{
    stroke: gray;
    stroke-width: 3;
}


.nodeLabel {
  font: 18pt sans-serif;
  font-size: 13px;
  font-weight: bold;
}

/*TW DELETE NEXT */
circle.iri {
  fill: #bcf5bc ;
  stroke: black;
}
.node.iri {
  fill: #bcf5bc ;
  stroke: black;
}

/*TW DELETE NEXT */
circle.unspec {
  fill: white ;
  stroke: black;
  stroke-width: 4;
  stroke-dasharray: 2;
}
.node.unspec {
  fill: white ;
  stroke: black;
  stroke-width: 4;
  stroke-dasharray: 2;
}

/*TW DELETE NEXT */
circle.iri.subjectLink {
  fill: yellow ;
  stroke: red;
  stroke-width: 6;
  stroke-dasharray: 2;
}
.node.iri.subjectLink {
  fill: yellow ;
  stroke: red;
  stroke-width: 6;
  stroke-dasharray: 2;
}
.node.iriont.subjectLink {
  fill: yellow ;
  stroke: red;
  stroke-width: 6;
  stroke-dasharray: 2;
}
.node.unspec.subjectLink {
  fill: yellow ;
  stroke: red;
  stroke-width: 6;
  stroke-dasharray: 2;
}
/*TW DELETE NEXT */
circle.string {
  fill:   #e4e4e4;
  stroke: #646464;
  stroke-width: 4;
}
.node.string {
  fill:   #e4e4e4;
  stroke: #646464;
  stroke-width: 4;
}
/*TW DELETE NEXT */
circle.int {
  fill: #c1e1eC ; /* light blue */
  stroke: #1a1aff;
  stroke-width: 4;
}
.node.int {
  fill: #c1e1eC ; /* light blue */
  stroke: #1a1aff;
  stroke-width: 4;
}
/*TW DELETE NEXT */
circle.iriont {
  fill: #ffc862 ;
  stroke: black;
}
.node.iriont {
  fill: #ffc862 ;
  stroke: black;
}


circle.unspec.subjectLink {
  fill: yellow ;
  stroke: red;
  stroke-width: 6;
  stroke-dasharray: 2;
}


circle.misc {
  fill: gray ;
}



/* text for link labels */
.edgeLabel{
  color: #333333;
  flood-color: #FFFFFF;
  flood-opacity:1;
  font: 18pt sans-serif;
  text-anchor: middle;
}
text.id {
  text-anchor: middle;
  font-weight: bold;
}

/*---- grid -----------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
/* grVisRBot not currently used for anything */
.wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 910px 300px;
  grid-template-rows: 200px 50px 850px;
  background-color: gray;
  color: #fff;
}
.box {
  background-color: white;
  color: #000000;
  border-radius: 1px;
  padding: 5px;
}
#whiteboard{
  grid-column: 1;
  grid-row: 1 / 4;
}
#info{
  grid-column: 2;
  grid-row: 1;
}
#buttons{
  grid-column: 2;
  grid-row: 2;
}
.help{
  grid-column: 2;
  grid-row: 3;
}

/* from V1 */
/* Help Box */
.help th,tr,td {
    /* border: 1px solid gray; */
    border:none;
}
.help tr:nth-child(even){
  background-color: #e8fbe8;
  color: black;
}

.help td:nth-child(1){
  width:300px;
  font-weight:normal;
}
.help td:nth-child(2){
  width:500px;
  font-weight: bold;
  bgcolor: #d2f8d2;
  font-family: courier;
  font-size: .9em;
}
