.edge{
    stroke: gray;
    stroke-width: 3;
}

.node {
  font: 18pt sans-serif;font-size: 13px;
  font-weight: bold;
}

.node .string {
  fill:  #c5c5c5;
  stroke: red;
  stroke-width: 4;
}
.node .uri {
  fill: #bcf5bc ;
  stroke: black;
}

.node .uriont {
  fill: #ffc862 ;
  stroke: black;
}

.node.int {
  fill: #c1e1eC ; /* light blue */
  stroke: red;
  stroke-width: 4;
}

.node .misc {
  fill: gray ;
}

.node .unspec {
  fill: yellow ;
  stroke: red;
  stroke-width: 4;
  stroke-dasharray: 2;;
}


/* text for link labels */
.egeLabel{
  color: #333333;
  flood-color: #FFFFFF;
  flood-opacity:1;
  font: 18pt sans-serif;
  text-anchor: middle;
}
text.id {
  text-anchor: middle;
  font-weight: bold;
}

/*---- grid -----------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
/* grVisRBot not currently used for anything */
.wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 910px 300px;
  grid-template-rows: 200px 50px 650px;
  background-color: gray;
  color: #fff;
}
.box {
  background-color: white;
  color: #000000;
  border-radius: 1px;
  padding: 5px;
}
#whiteboard{
  grid-column: 1;
  grid-row: 1 / 4;
}
#info{
  grid-column: 2;
  grid-row: 1;
}
#buttons{
  grid-column: 2;
  grid-row: 2;
}
.help{
  grid-column: 2;
  grid-row: 3;
}

/* from V1 */
/* Help Box */
.help th,tr,td {
    /* border: 1px solid gray; */
    border:none;
}
.help td:nth-child(1){
  width:300px;
  font-weight:normal;
}
.help td:nth-child(2){
  width:500px;
  font-weight: bold;
  bgcolor: #d2f8d2;
  font-family: courier;
}
